/*@font-face {*/
/*    font-family: 'openhuninn'; !important;*/
/*    src: url('/font/hunin.ttf') format('truetype'); !* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 *!*/
/*}*/


.HunInn {
    /*font-family: openhuninn, serif;*/
}


/*移除Scroll & 禁止選擇 */
/* flex-shrink-0 防止safari畫面重疊*/
body {
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*user-select: none;*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*    移除點擊按鈕便藍色的問題*/
}

html {
    scroll-behavior: smooth; /*平滑移動*/
    overflow: -moz-hidden-unscrollable;
}

div {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

div::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.imgEye {
    min-width: 100px;
    max-height: 50vh;
    min-height: 200px;
}

.btPink {
    padding: 4px 12px;
    letter-spacing: 0.1em;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    border-radius: 8px;
    background-color: #E17666;
    color: white;
}

.btPinkBorder {
    padding: 4px 12px;
    letter-spacing: 0.1em;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    border-width: 1px;
    border-radius: 8px;
    border-color: #E17666;
    color: #E17666;
}

.backStyle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 10px;
    min-width: 45px;
    max-width: 45px;
    min-height: 45px;
    max-height: 45px;
    z-index: 999;
    border-radius: 50%;
}